
<!--div class="thumbnail"-->
  <!--<img src="http://placehold.it/820x320">-->
    <div class="container">
        <h4>This is tab for orders {{orders.length}}</h4>
        <!--&lt;!&ndash;<h4 class="pull-right">{{ product?.price | currency }}</h4>
        <h4>{{ product?.title }}</h4>
        <p>{{ product?.description }}</p>&ndash;&gt;-->

        <h4>Plain bootstrapped table</h4>
            <div *ngFor="let order of orders | async" >
                
                <div class="row">
                    <div class="col-md-1">{{ order?.id}}</div>
                    <div class="col-md-1">{{order?.storeId}}</div>
                    <div class="col-md-2">{{order?.firstName}}</div>
                    <div class="col-md-3">{{order?.lastName}}</div>
                    <div class="col-md-5">{{order?.emailAddress}}</div>
                </div>
            </div>
        <h4>Datatables.net Plain bootstrapped table</h4>
        <table id="clientOrders" class="display">
            <thead>
            <tr>
                <th>Order id</th>
                <th>Store id</th>
                <th>1st name</th>
                <th>last name</th>
                <th>email</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders | async" >
                <td>{{ order?.id}}</td>
                <td>{{order?.storeId}}</td>
                <td>{{order?.firstName}}</td>
                <td>{{order?.lastName}}</td>
                <td>{{order?.emailAddress}}</td>
            </tr>
            </tbody>
        </table>
    </div>


