<div class="col-md-12" ng-controller="ProductListController" >
	<div class="row" >
		<div class="col-md-12" >
			<form class="form-inline well well-sm" >
				<span class="fa fa-search" ></span >

				<div class="form-group" >
					<input type="text"
					       class="form-control"
					       id="name"
					       ng-model="search"
					       placeholder="Search name..."
							/>
				</div >

				<span class="fa fa-sort" ></span >

				<div class="form-group" >
					<select class="form-control"
					        ng-model="order" >
						<option value="sku" >SKU (ASC)</option >
						<option value="-sku" >SKU (DEC)</option >
						<option value="EProductName" >Product Name (ASC)</option >
						<option value="-EProductName" >Product Name (DEC)</option >
					</select >
				</div >

				<button class="btn btn-primary pull-right"
				        ng-click="showCreateModal()" >Create
				</button >

			</form >

			<table class="table table-bordered"
			       infinite-scroll="loadMore()"
			       infinite-scroll-immediate-check="false"
			       infinite-scroll-distance="1" >

				<tr >
					<th class="col-1">#</th >
					<th class="col-2">
						<div class="sortables" >
							<span ng-click="order = 'sku'"
							      class="fa fa-sort-asc" ></span >
							<span ng-click="order = '-sku'"
							      class="fa fa-sort-desc" ></span >
						</div >
						SKU
					</th >
					<th class="col-3">
						<div class="sortables" >
							<span ng-click="order = 'EProductName'"
							      class="fa fa-sort-asc" ></span >
							<span ng-click="order = '-EProductName'"
							      class="fa fa-sort-desc" ></span >
						</div >
						EProductName
					</th >
					<th class="col-4">
						FProductName</th >
				</tr >

				<tr ng-repeat="product in supplies.products"
				    ng-style="{
					 'background-color': product.EProductName == supplies.selectedProduct.EProductName ? 'lightgray' : ''
				}"
				    ng-click="supplies.selectedProduct = product" >
					<td >
						<!-- <img ng-src="{{person.photo}}" class="img-circle profile-photo" alt="" /> -->
					</td >
					<td >{{ product.sku }}</td >
					<td >{{ product.EProductName }}</td >
					<td >{{ product.FProductName }}</td >
				</tr >


			</table >

			<div ng-show="supplies.products.length == 0 && !supplies.isLoading" >
				<div class="alert alert-info" >
					<p class="text-center" >No results found for search term '{{ search }}'</p >
				</div >
			</div >

			<div class="spinner"
			     ng-show="supplies.isLoading" >
				<span us-spinner="{radius:8, width:5, length: 3, lines:9}" ></span >

				<p >Loading...</p >
			</div >

		</div >
	</div >
</div >